body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
}

nav button {
    margin: 5px;
    padding: 10px 20px;
    background: #444;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

nav button:hover {
    background: #666;
}

#game {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.item-card {
    text-align: center;
    margin-top: 20px;
    background: #222;
    padding: 20px;
    border-radius: 10px;
}

.item-card img {
    max-width: 100%;
    border-radius: 8px;
}

.action-buttons button {
    width: 45%;
    padding: 15px;
    margin: 10px 2%;
    font-size: 18px;
    border: none;
    background: #008cff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.action-buttons button.pass {
    background: #ff0059;
}

.slider-container {
    text-align: left;
    margin: 15px 0;
}

.result-box {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.download-btn {
    padding: 10px 20px;
    background: #009944;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
